<%- include('../includes/header.ejs')%>
</head>
<body>
<%- include('../includes/navigation.ejs')%>
    <main>
       <h1>My Products</h1>
       <% if(prods.length > 0) { %>
            <h2>List of Product</h2>
            <ul>
                <% for(let product of prods) { %>
                    <li><%= product.title %></li>
                <% } %>
            </ul>
        <% } else { %>
            <h2>No product found</h2>
        <% } %>
    </main>
<%- include('../includes/end.ejs')%>